*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: lavender;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    background-image: url(5309396.jpg);
}

.form-login{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.form-box{
    position: relative;   
    width: 400px;
    height: 500px;
    border: 2px black solid;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(53, 64, 117);
}

h1{
    color: white;
    text-align: center;
    font-size: 32px;
}

.input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
}

.input-box input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    color: white;
    font-size: 16px;
}

input::placeholder{
    color: white;
}

.btn{
    color: white;
    background-color: rgb(27, 27, 111);
    width: 70%;
    height: 40px;
    margin-left: 50px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    border: none;
}

.input-box img{
    position: absolute;
    top: 8px;
    right: 0;
    height: 45%;
    width: 6%;
    margin: 5px;
}